{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
{#  <link href="{% static "css/bootstrap-grid.css" %}" rel="stylesheet">#}
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>

<body>
    {% include 'includes/navbar.html' %}
  <div id="content">
    {% block content %} {% endblock %}
  </div>
  <div id="sidebar">
    <h2>Sidebar</h2>
    <p>sidebar for blog</p>
  </div>

    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>
